.posts{
    /* flex: 9; */
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    margin: 20px;
    padding-top:40px;
}
.bttn{
    padding: 10px;
    margin: 2rem;
    width: 105px;
    border-radius: 15px;
}